{% extends 'base.html' %}
{% load static %}


{% block main %}

<pre>

Remember when the internet wasn't all about 
algorithms, ads and trackers?

The web used to be a place to connect with 
like-minded people, niche communities, forums,
DIY websites, original content. 

<i>2000.town</i> wishes to bring this feeling back,
it's a place to share about, but not limited to:
<b>
Nature, low-technologies, collective ressources,
life pro-tips, self/collective help, questions,
renewable energy, alternative networks, news,
local events, gatherings.... and more.
</b></pre>
<br>
<img src="{% static 'nature.jpeg' %}" width="300px">
    
{% endblock %}