<pre>
   ___   ____  ____  ____  
  |__ \ / __ \/ __ \/ __ \ 
  __/ // / / / / / / / / / 
 / __// /_/ / /_/ / /_/ /  
/____/\____/\____/\____/   
    / /_____ _      ______ 
   / __/ __ \ | /| / / __ \
 _/ /_/ /_/ / |/ |/ / / / /
(_)__/\____/|__/|__/_/ /_/ 
</pre>


<pre>
                 .-'''-.        .-'''-.                   
       .-''-.   '   _    \     '   _    \      .-'''-.    
     .' .-.  )/   /` '.   \  /   /` '.   \    '   _    \  
    / .'  / /.   |     \  ' .   |     \  '  /   /` '.   \ 
   (_/   / / |   '      |  '|   '      |  '.   |     \  ' 
        / /  \    \     / / \    \     / / |   '      |  '
       / /    `.   ` ..' /   `.   ` ..' /  \    \     / / 
      . '        '-...-'`       '-...-'`    `.   ` ..' /  
     / /    _.-')     .-'''-.                  '-...-'`   
   .' '  _.'.-''     '   _    \                           
  /  /.-'_.'       /   /` '.   \                 _..._    
 /    _.'         .   |     \  '       _     _ .'     '.  
( _.-'         .| |   '      |  '/\    \\   //.   .-.   . 
             .' |_\    \     / / `\\  //\\ // |  '   '  | 
           .'     |`.   ` ..' /    \`//  \'/  |  |   |  | 
          '--.  .-'   '-...-'`      \|   |/   |  |   |  | 
     ,.--.   |  |                    '        |  |   |  | 
    //    \  |  |                             |  |   |  | 
    \\    /  |  '.'                           |  |   |  | 
     `'--'   |   /                            |  |   |  | 
             `'-'                             '--'   '--' 
</pre>

<pre>
   ___  ___  ___  ___ 
  |_  |/ _ \/ _ \/ _ \
 / __// // / // / // /
/____/\___/\___/\___/ 
   / /____ _    _____ 
 _/ __/ _ \ |/|/ / _ \
(_)__/\___/__,__/_//_/
</pre>

<pre>
██████╗  ██████╗  ██████╗  ██████╗    
╚════██╗██╔═████╗██╔═████╗██╔═████╗   
 █████╔╝██║██╔██║██║██╔██║██║██╔██║   
██╔═══╝ ████╔╝██║████╔╝██║████╔╝██║   
███████╗╚██████╔╝╚██████╔╝╚██████╔╝   
╚══════╝ ╚═════╝  ╚═════╝  ╚═════╝    
                                   
████████╗ ██████╗ ██╗    ██╗███╗   ██╗
╚══██╔══╝██╔═══██╗██║    ██║████╗  ██║
   ██║   ██║   ██║██║ █╗ ██║██╔██╗ ██║
   ██║   ██║   ██║██║███╗██║██║╚██╗██║
██╗██║   ╚██████╔╝╚███╔███╔╝██║ ╚████║
╚═╝╚═╝    ╚═════╝  ╚══╝╚══╝ ╚═╝  ╚═══╝
</pre>

<pre style="font-size:10px;">
 ▄▄▄▄▄▄▄▄▄▄▄   ▄▄▄▄▄▄▄▄▄    ▄▄▄▄▄▄▄▄▄    ▄▄▄▄▄▄▄▄▄  
▐░░░░░░░░░░░▌ ▐░░░░░░░░░▌  ▐░░░░░░░░░▌  ▐░░░░░░░░░▌ 
 ▀▀▀▀▀▀▀▀▀█░▌▐░█░█▀▀▀▀▀█░▌▐░█░█▀▀▀▀▀█░▌▐░█░█▀▀▀▀▀█░▌
          ▐░▌▐░▌▐░▌    ▐░▌▐░▌▐░▌    ▐░▌▐░▌▐░▌    ▐░▌
          ▐░▌▐░▌ ▐░▌   ▐░▌▐░▌ ▐░▌   ▐░▌▐░▌ ▐░▌   ▐░▌
 ▄▄▄▄▄▄▄▄▄█░▌▐░▌  ▐░▌  ▐░▌▐░▌  ▐░▌  ▐░▌▐░▌  ▐░▌  ▐░▌
▐░░░░░░░░░░░▌▐░▌   ▐░▌ ▐░▌▐░▌   ▐░▌ ▐░▌▐░▌   ▐░▌ ▐░▌
▐░█▀▀▀▀▀▀▀▀▀ ▐░▌    ▐░▌▐░▌▐░▌    ▐░▌▐░▌▐░▌    ▐░▌▐░▌
▐░█▄▄▄▄▄▄▄▄▄ ▐░█▄▄▄▄▄█░█░▌▐░█▄▄▄▄▄█░█░▌▐░█▄▄▄▄▄█░█░▌
▐░░░░░░░░░░░▌ ▐░░░░░░░░░▌  ▐░░░░░░░░░▌  ▐░░░░░░░░░▌ 
 ▀▀▀▀▀▀▀▀▀▀▀   ▀▀▀▀▀▀▀▀▀    ▀▀▀▀▀▀▀▀▀    ▀▀▀▀▀▀▀▀▀  
                                                  
 ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄         ▄  ▄▄        ▄ 
▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░▌       ▐░▌▐░░▌      ▐░▌
 ▀▀▀▀█░█▀▀▀▀ ▐░█▀▀▀▀▀▀▀█░▌▐░▌       ▐░▌▐░▌░▌     ▐░▌
     ▐░▌     ▐░▌       ▐░▌▐░▌       ▐░▌▐░▌▐░▌    ▐░▌
     ▐░▌     ▐░▌       ▐░▌▐░▌   ▄   ▐░▌▐░▌ ▐░▌   ▐░▌
     ▐░▌     ▐░▌       ▐░▌▐░▌  ▐░▌  ▐░▌▐░▌  ▐░▌  ▐░▌
     ▐░▌     ▐░▌       ▐░▌▐░▌ ▐░▌░▌ ▐░▌▐░▌   ▐░▌ ▐░▌
     ▐░▌     ▐░▌       ▐░▌▐░▌▐░▌ ▐░▌▐░▌▐░▌    ▐░▌▐░▌
 ▄   ▐░▌     ▐░█▄▄▄▄▄▄▄█░▌▐░▌░▌   ▐░▐░▌▐░▌     ▐░▐░▌
▐░▌  ▐░▌     ▐░░░░░░░░░░░▌▐░░▌     ▐░░▌▐░▌      ▐░░▌
 ▀    ▀       ▀▀▀▀▀▀▀▀▀▀▀  ▀▀       ▀▀  ▀        ▀▀ 
                                                  

</pre>

<pre>
   ___       __      __      __       
 /'___`\   /'__`\  /'__`\  /'__`\     
/\_\ /\ \ /\ \/\ \/\ \/\ \/\ \/\ \    
\/_/// /__\ \ \ \ \ \ \ \ \ \ \ \ \   
   // /_\ \\ \ \_\ \ \ \_\ \ \ \_\ \  
  /\______/ \ \____/\ \____/\ \____/  
  \/_____/   \/___/  \/___/  \/___/                                         
  __                                  
 /\ \__                               
 \ \ ,_\   ___   __  __  __    ___    
  \ \ \/  / __`\/\ \/\ \/\ \ /' _ `\  
 __\ \ \_/\ \L\ \ \ \_/ \_/ \/\ \/\ \ 
/\_\\ \__\ \____/\ \___x___/'\ \_\ \_\
\/_/ \/__/\/___/  \/__//__/   \/_/\/_/
</pre>

<pre style="font-size:12px;">                                             
  @@@@@@    @@@@@@@@    @@@@@@@@    @@@@@@@@      
 @@@@@@@@  @@@@@@@@@@  @@@@@@@@@@  @@@@@@@@@@     
      @@@  @@!   @@@@  @@!   @@@@  @@!   @@@@     
     @!@   !@!  @!@!@  !@!  @!@!@  !@!  @!@!@     
    !!@    @!@ @! !@!  @!@ @! !@!  @!@ @! !@!     
   !!:     !@!!!  !!!  !@!!!  !!!  !@!!!  !!!     
  !:!      !!:!   !!!  !!:!   !!!  !!:!   !!!     
 :!:       :!:    !:!  :!:    !:!  :!:    !:!     
 :: :::::  ::::::: ::  ::::::: ::  ::::::: ::     
 :: : :::   : : :  :    : : :  :    : : :  :      
                                                  
                                                  
     @@@@@@@   @@@@@@   @@@  @@@  @@@  @@@  @@@  
     @@@@@@@  @@@@@@@@  @@@  @@@  @@@  @@@@ @@@  
       @@!    @@!  @@@  @@!  @@!  @@!  @@!@!@@@  
       !@!    !@!  @!@  !@!  !@!  !@!  !@!!@!@!  
       @!!    @!@  !@!  @!!  !!@  @!@  @!@ !!@!  
       !!!    !@!  !!!  !@!  !!!  !@!  !@!  !!!  
       !!:    !!:  !!!  !!:  !!:  !!:  !!:  !!!  
:!:    :!:    :!:  !:!  :!:  :!:  :!:  :!:  !:!  
:::     ::    ::::: ::   :::: :: :::    ::   ::  
:::     :      : :  :     :: :  : :    ::    :   
</pre>

<pre style="font-size: 10px;">                                                                                        
      ,----,     ,----..       ,----..       ,----..    
    .'   .' \   /   /   \     /   /   \     /   /   \   
  ,----,'    | /   .     :   /   .     :   /   .     :  
  |    :  .  ;.   /   ;.  \ .   /   ;.  \ .   /   ;.  \ 
  ;    |.'  /.   ;   /  ` ;.   ;   /  ` ;.   ;   /  ` ; 
  `----'/  ; ;   |  ; \ ; |;   |  ; \ ; |;   |  ; \ ; | 
    /  ;  /  |   :  | ; | '|   :  | ; | '|   :  | ; | ' 
   ;  /  /-, .   |  ' ' ' :.   |  ' ' ' :.   |  ' ' ' : 
  /  /  /.`| '   ;  \; /  |'   ;  \; /  |'   ;  \; /  | 
./__;      :  \   \  ',  /  \   \  ',  /  \   \  ',  /  
|   :    .'    ;   :    /    ;   :    /    ;   :    /   
;   | .'        \   \ .'      \   \ .'      \   \ .'    
`---'  ___       `---`         `---`         `---`      
     ,--.'|_                                            
     |  | :,'   ,---.           .---.      ,---,        
     :  : ' :  '   ,'\         /. ./|  ,-+-. /  |       
   .;__,'  /  /   /   |     .-'-. ' | ,--.'|'   |       
   |  |   |  .   ; ,. :    /___/ \: ||   |  ,"' |       
   :__,'| :  '   | |: : .-'.. '   ' .|   | /  | |       
     '  : |__'   | .; :/___/ \:     '|   | |  | |       
     |  | '.'|   :    |.   \  ' .\   |   | |  |/        
 ___ ;  :    ;\   \  /  \   \   ' \ ||   | |--'         
/  .\|  ,   /  `----'    \   \  |--" |   |/             
\  ; |---`-'              \   \ |    '---'              
 `--"                      '---"                        
</pre>

<pre>
      ___________________
    =(__    __    __    _)=
      |                 |
      |                 |
      |                 |
      |                 |
      |                 |
      |                 |
      |                 |
      |                 |
      |__   __   __   __|
    =(___________________)=
</pre>

<!-- +--------+-------+---------+      
|  <a href="{% url 'home' %}">Home</a>  | <a href="{% url 'about' %}">About</a> | <a href="/user/{{ user.username }}">Profile</a> |
+--------+-------+---------+
| <a href="{% url 'post_blog' %}"><b>Post Something</b></a> |  <a href="{% url 'users' %}">Users</a>  |
+-------+--------+---------+
| <a href="{% url 'tags' %}">Tags</a>  |  Date  | <a href="{% url 'logout' %}">Log Out</a> |
+-------+--------+---------+ -->